In [3]:
import pandas as pd

df=pd.DataFrame({'id':[5,2,6,9],'month':['Jan','Feb','Mar','Apr']})
df

   id month
0   5   Jan
1   2   Feb
2   6   Mar
3   9   Apr

## Cumulative Sum

In [5]:
df['cum_id']=df['id'].cumsum()
df

   id month  cum_id
0   5   Jan       5
1   2   Feb       7
2   6   Mar      13
3   9   Apr      22

## Cumulative Min

In [6]:
df['cum_min_id']=df['id'].cummin()
df

   id month  cum_id  cum_min_id
0   5   Jan       5           5
1   2   Feb       7           2
2   6   Mar      13           2
3   9   Apr      22           2

## Cumulative Max

In [7]:
df['cum_max_id']=df['id'].cummax()
df

   id month  cum_id  cum_min_id  cum_max_id
0   5   Jan       5           5           5
1   2   Feb       7           2           5
2   6   Mar      13           2           6
3   9   Apr      22           2           9

## Cumulative Product

In [8]:
df['cum_product_id']=df['id'].cumprod()
df

   id month  cum_id  cum_min_id  cum_max_id  cum_product_id
0   5   Jan       5           5           5               5
1   2   Feb       7           2           5              10
2   6   Mar      13           2           6              60
3   9   Apr      22           2           9             540