In [1]:
import pandas as pd
import numpy as np

In [3]:
#You may run the following code and observe what happens.
flightsdf = pd.read_csv("C:/Users/keset/Downloads/flights.csv")
flightsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160754 entries, 0 to 160753
Data columns (total 16 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       160754 non-null  int64
 1   month      160754 non-null  int64
 2   day        160754 non-null  int64
 3   dep_time   158418 non-null  float64
 4   dep_delay  158418 non-null  float64
 5   arr_time   158275 non-null  float64
 6   arr_delay  157927 non-null  float64
 7   carrier    160754 non-null  object
 8   tailnum    159321 non-null  object
 9   flight     160754 non-null  int64
 10  origin     160754 non-null  object
 11  dest       160754 non-null  object
 12  air_time   157927 non-null  float64
 13  distance   160754 non-null  int64
 14  hour       158418 non-null  float64
 15  minute     158418 non-null  float64
dtypes: float64(7), int64(5), object(4)
memory usage: 19.6+ MB
The raw dataset has: 160754 rows.
After eliminating the null entries, the dataset has only: 157927 rows.

# Drop rows with mising values

In [44]:
flightsdfnew = flightsdf.dropna()

## Check number of rows after dropping rows with any missing value

In [43]:
print('Columns:',len(flightsdf.columns),len(flightsdfnew.columns))
print('Rows:',len(flightsdf),len(flightsdfnew))

Columns: 16 16
Rows: 160754 158418

In [5]:
flightsdfnew.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

# Drop axis if it has 1 missing value

In [7]:
x=flightsdf.dropna(axis=1)

## Check affected columns and rows

In [10]:
print('Columns:',len(flightsdf.columns),len(x.columns))
print('Rows:',len(flightsdf),len(x))

Columns: 16 8
Rows: 160754 160754

# Drop if a column has less than 158000 non-missing values

In [40]:
y=flightsdf.dropna(thresh=158000,axis=1)

## Check affected columns and rows

In [41]:
print('Columns:',len(flightsdf.columns),len(y.columns))
print('Rows:',len(flightsdf),len(y))

Columns: 16 14
Rows: 160754 160754