In [1]:
import pandas as pd
df = pd.DataFrame({
     "size": ["m", "m", "l"],
     "color": ["red", "green", "blue"],
     "category": ["M", "W", "M"],
     "price": [10, 11, 12],
}).set_index(["size", "color", "category"])
df

                     price
size color category
m    red   M            10
     green W            11
l    blue  M            12

In [2]:
df.xs("red", level="color")

               price
size category
m    M            10

In [3]:
df.xs("m", level="size").xs("red", level="color")

          price
category
M            10

In [ ]:
# The last value can't be selected
# df.xs("m", level="size").xs("red", level="color").xs("M", level="category")

In [7]:
df.xs(("m", "green"), level=("size", "color"))

          price
category
W            11

In [8]:
df.xs(("m", "red", "M"), level=("size", "color", "category"))

                     price
size color category
m    red   M            10

In [9]:
df.loc[(slice(None), "red"), :]

                     price
size color category
m    red   M            10

In [10]:
df.reindex(["red", "green"], level="color")

                     price
size color category
m    red   M            10
     green W            11