# Fancyimput
Fancyimpute is a library for missing data imputation algorithms. Fancyimpute use machine learning algorithm to impute missing values. Fancyimpute uses all the column to impute the missing values. There are two ways missing data can be imputed using Fancyimpute

## KNN or K-Nearest Neighbor
MICE or Multiple Imputation by Chained Equation
K-Nearest Neighbor
To fill out the missing values KNN finds out the similar data points among all the features. 
Then it took the average of all the points to fill in the missing values.

In [9]:
pip install fancyimpute

Collecting fancyimpute
  Downloading fancyimpute-0.7.0.tar.gz (25 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting knnimpute>=0.1.0
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scikit-learn>=0.24.2 in c:\users\keset\anaconda3\lib\site-packages (from fancyimpute) (1.2.1)
Collecting cvxpy
  Downloading cvxpy-1.3.1-cp310-cp310-win_amd64.whl (889 kB)
     -------------------------------------- 889.5/889.5 kB 1.0 MB/s eta 0:00:00
Collecting cvxopt
  Downloading cvxopt-1.3.1-cp310-cp310-win_amd64.whl (12.8 MB)
     -------------------------------------- 12.8/12.8 MB 967.9 kB/s eta 0:00:00
Requirement already satisfied: pytest in c:\users\keset\anaconda3\lib\site-packages (from fancyimpute) (7.1.2)
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     -------------------------------------- 154.7/154.7 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\keset\anaconda3\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in c:\users\keset\anaconda3\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\keset\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\keset\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\keset\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.1.1)
Collecting ecos>=2
  Downloading ecos-2.0.12-cp310-cp310-win_amd64.whl (72 kB)
     -------------------------------------- 72.0/72.0 kB 996.7 kB/s eta 0:00:00
Requirement already satisfied: setuptools>65.5.1 in c:\users\keset\anaconda3\lib\site-packages (from cvxpy->fancyimpute) (65.6.3)
Collecting osqp>=0.4.1
  Downloading osqp-0.6.3-cp310-cp310-win_amd64.whl (292 kB)
     ------------------------------------ 292.9/292.9 kB 861.9 kB/s eta 0:00:00
Collecting scs>=1.1.6
  Downloading scs-3.2.3-cp310-cp310-win_amd64.whl (8.2 MB)
     ---------------------------------------- 8.2/8.2 MB 812.8 kB/s eta 0:00:00
Requirement already satisfied: attrs>=19.2.0 in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (22.1.0)
Requirement already satisfied: iniconfig in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.1.1)
Requirement already satisfied: packaging in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (22.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.0.0)
Requirement already satisfied: py>=1.8.2 in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (2.0.1)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.4.0)
Requirement already satisfied: colorama in c:\users\keset\anaconda3\lib\site-packages (from pytest->fancyimpute) (0.4.6)
Collecting qdldl
  Downloading qdldl-0.1.7-cp310-cp310-win_amd64.whl (83 kB)
     -------------------------------------- 83.1/83.1 kB 668.1 kB/s eta 0:00:00
Building wheels for collected packages: fancyimpute, knnimpute
  Building wheel for fancyimpute (setup.py): started
  Building wheel for fancyimpute (setup.py): finished with status 'done'
  Created wheel for fancyimpute: filename=fancyimpute-0.7.0-py3-none-any.whl size=29907 sha256=106f62cdad7474e6e36a33cc4b9a277413bb2603eb1ca2155d4ef47ec6a8b837
  Stored in directory: c:\users\keset\appdata\local\pip\cache\wheels\d4\dc\1d\df95900d5962d8a6da97306201c1695abe1922d56910ffa3b2
  Building wheel for knnimpute (setup.py): started
  Building wheel for knnimpute (setup.py): finished with status 'done'
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11345 sha256=3a3bb8bad227974523109da8a782039cd903a4e0a1e2fd6913cbef9bb65be703
  Stored in directory: c:\users\keset\appdata\local\pip\cache\wheels\46\44\b7\0546c472093bdae2adaafdab7062ab6156f20c8e79af2ee999
Successfully built fancyimpute knnimpute
Installing collected packages: nose, knnimpute, cvxopt, scs, qdldl, ecos, osqp, cvxpy, fancyimpute
Successfully installed cvxopt-1.3.1 cvxpy-1.3.1 ecos-2.0.12 fancyimpute-0.7.0 knnimpute-0.1.0 nose-1.3.7 osqp-0.6.3 qdldl-0.1.7 scs-3.2.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
df=pd.read_csv('../data/sales.csv')
df

   id    item  quantity  price  bought  beforenoon  afternoon
0   1    milk       2.0   67.0   672.0       456.0        NaN
1   2   sugar       1.0    NaN   453.0       234.0        NaN
2   3   chips       NaN   45.0   456.0       322.0        NaN
3   4  coffee       2.0   45.0   672.0       564.0        NaN
4   5    meat       4.0   56.0   786.0       221.0        NaN
5   6  chocos       3.0    NaN   345.0         NaN      213.0
6   7   juice       1.0   78.0   665.0         NaN      344.0
7   8     jam       NaN   65.0     NaN         NaN      333.0
8   9   bread       3.0    NaN     NaN         NaN      567.0
9  10  butter       4.0    NaN     NaN         NaN      322.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10 non-null     int64
 1   item        10 non-null     object
 2   quantity    8 non-null      float64
 3   price       6 non-null      float64
 4   bought      7 non-null      float64
 5   beforenoon  5 non-null      float64
 6   afternoon   5 non-null      float64
dtypes: float64(5), int64(1), object(1)
memory usage: 688.0+ bytes

In [12]:
# Dropping item since knn doesn't impute categorical variables
df2=df.drop(['item'],axis=1)

In [18]:
# importing the KNN from fancyimpute library
import numpy as np
from fancyimpute import KNN
  
# calling the KNN class
knn_imputer = KNN()
# imputing the missing value with knn imputer
df3 = knn_imputer.fit_transform(df2)

Imputing row 1/10 with 1 missing, elapsed time: 0.000

In [20]:
cols=['id','quantity','pice','brought','beforenoon','afternoon']
df4=pd.DataFrame(df3,columns = cols)  
# printing dataframe
print(df4)

     id  quantity       pice     brought  beforenoon   afternoon
0   1.0  2.000000  67.000000  672.000000  456.000000  397.194410
1   2.0  1.000000  64.748750  453.000000  234.000000  424.154612
2   3.0  3.399582  45.000000  456.000000  322.000000  450.783554
3   4.0  2.000000  45.000000  672.000000  564.000000  462.285330
4   5.0  4.000000  56.000000  786.000000  221.000000  454.056513
5   6.0  3.000000  56.515399  345.000000  294.262511  213.000000
6   7.0  1.000000  78.000000  665.000000  468.515173  344.000000
7   8.0  2.336335  65.000000  636.783025  337.744835  333.000000
8   9.0  3.000000  52.793076  669.069297  347.907745  567.000000
9  10.0  4.000000  54.043218  665.601885  345.652056  322.000000

In [25]:
# Creating dataframe for id and item 
item=['id','item']
df_item=df[item]
df_item

   id    item
0   1    milk
1   2   sugar
2   3   chips
3   4  coffee
4   5    meat
5   6  chocos
6   7   juice
7   8     jam
8   9   bread
9  10  butter

In [26]:
df5=pd.merge(df_item, df4,how='inner', on='id')
df5

   id    item  quantity       pice     brought  beforenoon   afternoon
0   1    milk  2.000000  67.000000  672.000000  456.000000  397.194410
1   2   sugar  1.000000  64.748750  453.000000  234.000000  424.154612
2   3   chips  3.399582  45.000000  456.000000  322.000000  450.783554
3   4  coffee  2.000000  45.000000  672.000000  564.000000  462.285330
4   5    meat  4.000000  56.000000  786.000000  221.000000  454.056513
5   6  chocos  3.000000  56.515399  345.000000  294.262511  213.000000
6   7   juice  1.000000  78.000000  665.000000  468.515173  344.000000
7   8     jam  2.336335  65.000000  636.783025  337.744835  333.000000
8   9   bread  3.000000  52.793076  669.069297  347.907745  567.000000
9  10  butter  4.000000  54.043218  665.601885  345.652056  322.000000

## Multiple Imputation by Chained Equation:
MICE uses multiple imputation instead of single imputation which results in statistical uncertainty. 
MICE perform multiple regression over the sample data and take averages of them

In [29]:
from fancyimpute import IterativeImputer
# calling the  MICE class
mice_imputer = IterativeImputer()
# imputing the missing value with mice imputer
df6 = mice_imputer.fit_transform(df2)

df7=pd.DataFrame(df6,columns=cols)  
# printing dataframe
print(df7)

     id  quantity       pice      brought  beforenoon   afternoon
0   1.0  2.000000  67.000000   672.000000  456.000000  374.008001
1   2.0  1.000000  58.598694   453.000000  234.000000  271.345469
2   3.0  2.412063  45.000000   456.000000  322.000000  303.045587
3   4.0  2.000000  45.000000   672.000000  564.000000  420.358935
4   5.0  4.000000  56.000000   786.000000  221.000000  458.869403
5   6.0  3.000000  58.916037   345.000000  359.114678  213.000000
6   7.0  1.000000  78.000000   665.000000  359.432307  344.000000
7   8.0  2.464659  65.000000   592.059948  359.370162  333.000000
8   9.0  3.000000  59.889770  1003.388964  359.814129  567.000000
9  10.0  4.000000  59.455746   548.808270  359.330857  322.000000