# Imputing Categorical Variables

In [24]:
import pandas as pd
import numpy as np

In [25]:
data={'feature 1':['Male','','Female', 'Male'],
      'feature 2':[23,24,25,26],
      'feature 3':[24,25,26,27],
      'feature 4':['Yes','No','Yes','Yes']}
df=pd.DataFrame(data)
df

  feature 1  feature 2  feature 3 feature 4
0      Male         23         24       Yes
1                   24         25        No
2    Female         25         26       Yes
3      Male         26         27       Yes

In [26]:
df['feature 4'].replace('Yes',1,inplace=True)

In [27]:
df['feature 4'].replace('No',0,inplace=True)

In [28]:
df

  feature 1  feature 2  feature 3  feature 4
0      Male         23         24          1
1                   24         25          0
2    Female         25         26          1
3      Male         26         27          1

# Quantify number of missing values

In [29]:
df.isnull().sum()

feature 1    0
feature 2    0
feature 3    0
feature 4    0
dtype: int64

# Separate independent and dependent variables

In [30]:
x_train=df.iloc[:,1:4]
y_train=df.iloc[:,0]

# Fit Logistic Regression Model

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr=LogisticRegression()
lr.fit(x_train,y_train)
input = [[24,25,0]]
lr.predict(input)

c:\Users\keset\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\keset\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([''], dtype=object)

In [32]:
df

  feature 1  feature 2  feature 3  feature 4
0      Male         23         24          1
1                   24         25          0
2    Female         25         26          1
3      Male         26         27          1