# Shift
> Application in calculating previous month, previous day, etc

In [1]:
import pandas as pd

df=pd.DataFrame({'month':['Jan','Feb','Mar','Apr'],'sales':[5,2,6,9]})
df

  month  sales
0   Jan      5
1   Feb      2
2   Mar      6
3   Apr      9

In [3]:
df['previous_month_sales']=df.sales.shift(1)
df

  month  sales  previous_month_sales
0   Jan      5                   NaN
1   Feb      2                   5.0
2   Mar      6                   2.0
3   Apr      9                   6.0