# Sorting, Reindexing, Renaming, Dropping

In [11]:
import pandas as pd

In [12]:
# Create a DataFrame with dummy data.
df = pd.DataFrame(data={'staff_no': [9999] * 5,
                        'name': ['Dean McGrath'] * 5,
                        'year': [2016, 2017, 2018, 2019, 2020],
                        'hours': [349, 231, 876, 679, 976]},
                        index=[2,6,4,8,9])
df

   staff_no          name  year  hours
2      9999  Dean McGrath  2016    349
6      9999  Dean McGrath  2017    231
4      9999  Dean McGrath  2018    876
8      9999  Dean McGrath  2019    679
9      9999  Dean McGrath  2020    976

In [14]:
# Access single value by index: second row and third column
df.iat[1, 2]

2017

In [15]:
# Access single value by label
df.at[4, 'year']

2018