# Shaping DataFrame: Append

In [3]:
import pandas as pd

In [11]:
df=pd.read_csv('../data/Demo_sales_data.csv')
# Summarizing numerical values
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,2587.000000,2587.000000,2587.000000,2587.000000,2587.000000,2587.000000
mean,4939.622729,54504.607654,235.487383,3.802474,0.154743,31.617793
std,2953.181324,32214.742692,668.217591,2.201917,0.203643,280.780876
min,1.000000,1752.000000,0.840000,1.000000,0.000000,-6599.980000
25%,2233.500000,22153.000000,17.940000,2.000000,0.000000,1.875000
50%,4988.000000,53711.000000,52.680000,3.000000,0.200000,8.740000
75%,7416.500000,90004.000000,208.070000,5.000000,0.200000,28.860000
max,9987.000000,99207.000000,17499.950000,14.000000,0.800000,8399.980000

In [40]:
print(f'Minimum: {min(df.Sales)}')
print(f'Maximum: {max(df.Sales)}')

Minimum: 0.84
Maximum: 17499.95

In [42]:
print(f'Mean: \t\t\t{df.Sales.mean()}')
print(f'Median: \t\t{df.Sales.median()}')
print(f'Standard deviation: \t{df.Sales.std()}')
print(f'Variance: \t\t{df.Sales.var()}')
print(f'Total: \t\t\t{df.Sales.sum()}')
print(f'1st and 3rd Quartiles: \n{df.Sales.quantile([.25,.75])}')

Mean: 			235.48738306919216
Median: 		52.68
Standard deviation: 	668.2175910817411
Variance: 		446514.74903108506
Total: 			609205.8600000001
1st and 3rd Quartiles:
0.25     17.94
0.75    208.07
Name: Sales, dtype: float64

In [12]:
# Summarizing categorical variables
df.value_counts('Segment')

Segment
Consumer       1328
Corporate       793
Home Office     466
dtype: int64

In [15]:
# Number of rows
len(df)

2587

In [16]:
# Tuple of # of rows, # of columns in DataFrame.
df.shape

(2587, 21)

In [17]:
# of distinct values in a column.
df['Segment'].nunique()

3