In [3]:
import pandas as pd

# create a dataframe with a column of large numbers
df = pd.DataFrame({'large_numbers': [10000000000, 20000000000, 30000000000]})

# display the dataframe with scientific notation
print(df)
print(df.mean())
# suppress scientific notation by setting float_format
pd.options.display.float_format = '{:.0f}'.format

# display the dataframe without scientific notation
print(df)
print(df.mean())

   large_numbers
0    10000000000
1    20000000000
2    30000000000
large_numbers   20000000000
dtype: float64
   large_numbers
0    10000000000
1    20000000000
2    30000000000
large_numbers   20000000000
dtype: float64

# Suppressing scientific notation when using describe

## Option 1

In [8]:
df['large_numbers'].describe().apply(lambda x: format(x, 'f'))

count              3.000000
mean     20000000000.000000
std      10000000000.000000
min      10000000000.000000
25%      15000000000.000000
50%      20000000000.000000
75%      25000000000.000000
max      30000000000.000000
Name: large_numbers, dtype: object

## Option 2

In [16]:
df.describe().apply(lambda x: x.apply('{0:.2f}'.format))

        large_numbers
count            3.00
mean   20000000000.00
std    10000000000.00
min    10000000000.00
25%    15000000000.00
50%    20000000000.00
75%    25000000000.00
max    30000000000.00