# Windowing operations
pandas contains a compact set of APIs for performing windowing operations - an operation that performs an aggregation over a sliding partition of values.

In [1]:
import pandas as pd

df=pd.DataFrame({'month':['Jan','Feb','Mar','Apr'],'value':[5,2,6,9],})
df

  month  value
0   Jan      5
1   Feb      2
2   Mar      6
3   Apr      9

# Rolling

In [5]:
df['rolling_mean']=df['value'].rolling(2).mean()
df

  month  value  rolling_mean
0   Jan      5           NaN
1   Feb      2           3.5
2   Mar      6           4.0
3   Apr      9           7.5

# Expanding
> Cumulative moving average

In [6]:
df['expanding_mean']=df['value'].expanding(2).mean()
df

  month  value  rolling_mean  expanding_mean
0   Jan      5           NaN             NaN
1   Feb      2           3.5        3.500000
2   Mar      6           4.0        4.333333
3   Apr      9           7.5        5.500000