In [153]:
# pip install pandas
import pandas as pd

# load a csv file
e_commerce_data_path_csv = "./data/data.csv"
e_commerce_csv_df = pd.read_csv(
    e_commerce_data_path_csv,  encoding='unicode_escape')#, nrows=1000)
# show columns
print(e_commerce_csv_df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [154]:
e_commerce_csv_df = e_commerce_csv_df.convert_dtypes()
# New dtypes
print(e_commerce_csv_df.dtypes)

InvoiceNo       string
StockCode       string
Description     string
Quantity         Int64
InvoiceDate     string
UnitPrice      Float64
CustomerID       Int64
Country         string
dtype: object

In [155]:
temp_dtype_change_df = e_commerce_csv_df.astype(
    {'Quantity': 'float64',
     'CustomerID': 'float64'
     }
)
print(temp_dtype_change_df.dtypes)

InvoiceNo       string
StockCode       string
Description     string
Quantity       float64
InvoiceDate     string
UnitPrice      Float64
CustomerID     float64
Country         string
dtype: object

In [156]:
e_commerce_csv_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

In [157]:
# load json
e_commerce_data_path_json = "./json/dumped_json.json"
e_commerce_json_df = pd.read_json(
    e_commerce_data_path_json,  encoding='unicode_escape')

# see how many rows you should have after appending
print(len(e_commerce_csv_df) + len(e_commerce_json_df))

541912

In [158]:
# Append the csv and the json to a new dataframe
e_commerce_appended_df = e_commerce_csv_df.append(e_commerce_json_df)
print(e_commerce_appended_df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541907    581587     22138        BAKING SET 9 PIECE RETROSPOT          3
0              1         1                         Updated dict         1
1         536372     22632            HAND WARMER RED POLKA DOT         6
2         536389     22727             ALARM CLOCK BAKELIKE RED         4
3         562106     22993         SET OF 4 PANTRY JELLY MOULDS         1

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55       17850  United Kingdom
1        12/1/2010 8:26       3.39       17850  United Kingdom
2        12/1/2010 8:26       2.75       17850  United Kingdom
3        12/1/2010 8:26       3.39       17850  United Kingdom
4        12/1/2010 8:26       3.39       17850  United Kingdom
...                 ...        ...         ...             ...
541907  12/9/2011 12:50       4.95       12680          France
0         9/9/9999 9:99        1.0           1         Nowhere
1        12/1/2010 9:01       1.85       17850  United Kingdom
2       12/1/2010 10:03       3.75       12431       Australia
3        8/2/2011 15:19       1.25       14076  United Kingdom

[541912 rows x 8 columns]

C:\Users\keset\AppData\Local\Temp\ipykernel_43656\4249979361.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  e_commerce_appended_df = e_commerce_csv_df.append(e_commerce_json_df)

In [159]:
# Adding Language of each country
my_json = '{"Country" : ["United Kingdom", "France", "Australia", "Netherlands"],"Language":["English" , "French", "English" , "Dutch"]}'
json_df = pd.read_json(my_json)
print(json_df)

e_commerce_csv_df = e_commerce_csv_df.merge(json_df,on = "Country")
print(e_commerce_csv_df)

          Country Language
0  United Kingdom  English
1          France   French
2       Australia  English
3     Netherlands    Dutch
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
507659    581176     22908        PACK OF 20 NAPKINS RED APPLES        96
507660    581176     22907     PACK OF 20 NAPKINS PANTRY DESIGN        96
507661    581176     22029               SPACEBOY BIRTHDAY CARD        72
507662    581176     22712                     CARD DOLLY GIRL         72
507663    581338     23344            JUMBO BAG 50'S CHRISTMAS        140

            InvoiceDate  UnitPrice  CustomerID         Country Language
0        12/1/2010 8:26       2.55       17850  United Kingdom  English
1        12/1/2010 8:26       3.39       17850  United Kingdom  English
2        12/1/2010 8:26       2.75       17850  United Kingdom  English
3        12/1/2010 8:26       3.39       17850  United Kingdom  English
4        12/1/2010 8:26       3.39       17850  United Kingdom  English
...                 ...        ...         ...             ...      ...
507659  12/7/2011 15:19       0.72       14646     Netherlands    Dutch
507660  12/7/2011 15:19       0.72       14646     Netherlands    Dutch
507661  12/7/2011 15:19       0.36       14646     Netherlands    Dutch
507662  12/7/2011 15:19       0.36       14646     Netherlands    Dutch
507663  12/8/2011 12:12       1.79       14646     Netherlands    Dutch

[507664 rows x 9 columns]

In [160]:
max(e_commerce_appended_df['InvoiceDate'])

'9/9/9999 9:99'

In [161]:
# Convert minute 99 to 59 to make it in the allowed range
e_commerce_appended_df['InvoiceDate'] = e_commerce_appended_df['InvoiceDate'].replace('9/9/9999 9:99', '9/9/2099 9:59')

In [162]:
max(e_commerce_appended_df['InvoiceDate'])

'9/9/2099 9:59'

In [163]:
print(e_commerce_appended_df.dtypes)

InvoiceNo       object
StockCode       object
Description     object
Quantity         Int64
InvoiceDate     object
UnitPrice      Float64
CustomerID       Int64
Country         object
dtype: object

In [164]:
# turning invoice date into timestamp
e_commerce_appended_df['InvoiceDate'] = pd.to_datetime(e_commerce_appended_df['InvoiceDate'])
print(e_commerce_appended_df.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                Int64
InvoiceDate    datetime64[ns]
UnitPrice             Float64
CustomerID              Int64
Country                object
dtype: object

In [165]:
# Filter out two columns "Country" and "Quantity" by dropping them
e_commerce_appended_df = e_commerce_appended_df.drop(
    ["Country", "Quantity"], axis="columns")

print(e_commerce_appended_df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'UnitPrice',
       'CustomerID'],
      dtype='object')

In [166]:
# normalize the dataframe
# normalize a Pandas Column with Maximum Absolute Scaling using Pandas
cols_to_normalize = ["Quantity", "UnitPrice"]

def absolute_maximum_scale(series):
    return series / series.abs().max()

for column in cols_to_normalize:
    e_commerce_csv_df[column] = absolute_maximum_scale(e_commerce_csv_df[column])

##########################################################
# Working with lambdas
##########################################################
e_commerce_csv_df['UnitPrice'] = e_commerce_csv_df['UnitPrice'].apply(lambda s: s*100)
print(e_commerce_csv_df.head(5))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER  0.000074
1    536365     71053                  WHITE METAL LANTERN  0.000074
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER  0.000099
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE  0.000074
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.  0.000074

      InvoiceDate  UnitPrice  CustomerID         Country Language
0  12/1/2010 8:26   0.006543       17850  United Kingdom  English
1  12/1/2010 8:26   0.008699       17850  United Kingdom  English
2  12/1/2010 8:26   0.007057       17850  United Kingdom  English
3  12/1/2010 8:26   0.008699       17850  United Kingdom  English
4  12/1/2010 8:26   0.008699       17850  United Kingdom  English

In [167]:
e_commerce_csv_df['year'] = pd.DatetimeIndex(e_commerce_csv_df['InvoiceDate']).year

In [168]:
##########################################################
# Pivoting dataframes
##########################################################
# pivot the previously normalized dataframe
print(e_commerce_csv_df["Country"].unique())
# > <StringArray>
# > ['United Kingdom', 'France', 'Australia', 'Netherlands']
# > Length: 4, dtype: string

e_commerce_pivoted = (e_commerce_csv_df
                      .filter(items=["year", "UnitPrice", "Country"])
                      .pivot_table(
                          index="year",
                          columns="Country",  # Column(s) we want to pivot.
                          # Column with values that we want to have in our new pivoted columns.
                          values="UnitPrice",
                          # Even if there is not aggregation we need to provide aggregation funciton.
                          aggfunc="mean"
                      )
                      .reset_index()
                      )
print(e_commerce_pivoted)

['United Kingdom' 'France' 'Australia' 'Netherlands']
Country  year  Australia    France  Netherlands  United Kingdom
0        2010   0.010533  0.009103     0.005763        0.016109
1        2011   0.008199  0.013110     0.007066        0.011236

In [172]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-12.0.1-cp310-cp310-win_amd64.whl (21.5 MB)
     -------------------------------------- 21.5/21.5 MB 812.6 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in c:\users\keset\anaconda3\lib\site-packages (from pyarrow) (1.23.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1
Note: you may need to restart the kernel to use updated packages.

In [173]:
# store dataframe as parquet file
e_commerce_pivoted.to_parquet('./data/e_commerce_pivoted.parquet.gzip',
                              compression='gzip')

In [174]:
# read parquet file
read_parquet = pd.read_parquet(
    './data/e_commerce_pivoted.parquet.gzip')

print(read_parquet)

Country  year  Australia    France  Netherlands  United Kingdom
0        2010   0.010533  0.009103     0.005763        0.016109
1        2011   0.008199  0.013110     0.007066        0.011236